@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --g1: #f0fdf4;
    --g2: #dcfce7;
    --g3: #bbf7d0;
    --g4: #86efac;
    --g5: #4ade80;
    --g6: #22c55e;
    --g7: #16a34a;
    --g8: #15803d;
    --g9: #166534;
    --g10: #14532d;
    --o1: rgb(255, 208, 0); 
    --spacing: 30px 
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 320px 4fr;
    margin: 0;
}

/* ------------------------------------------------------*/
/* NAV */
/* ------------------------------------------------------*/

.nav{
    background-color: var(--g2);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px var(--g10);
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.nav-top{
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px var(--spacing) 0 var(--spacing);
    
}

#search-icon{
    width: min(40px, 100%);
    height: min(40px, 100%);
    cursor: pointer;
}

#bell-icon{
    width: min(40px, 100%);
    height: min(40px, 100%);
    cursor: pointer;
}

.nav-search{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-profile{
    display: flex;
    justify-content: end;
    gap: 25px;
    align-items: center;
    font-size: 1.5rem;

}

.nav-profile *{
    cursor: pointer;
}

.nav-profile img{
    height: 60px;
}

.nav-search input{
    width: max(500px, 70%);
    border-radius: 25px;
    border: none;
    height: 1.5rem;
    background-color: var(--g4);
    font-size: 1.5rem;
    padding: 10px;
}

.nav-search input:focus{
    outline: 2px solid var(--g7);
}


.nav-bottom{
    grid-row: 2;
    display:flex;
    justify-content: space-between;
    padding: 0 var(--spacing) 25px var(--spacing);
}

.bottom-header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding:  0;
    gap: 20px;
    align-items: center;
}

.bottom-header img{
    height: 100px;
    cursor: pointer;
}

.bottom-header p:first-child{
    font-size: 1rem;
    padding-bottom: 10px;
}

.bottom-header p:last-child{
    font-size: 1.5rem;
}

.bottom-header p{
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
}

.bottom-buttons button{
    border: none;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    width: 100px;
    background-color: var(--g7);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.bottom-buttons button:hover{
    color: var(--o1);
}


/* ------------------------------------------------------*/
/* SIDEBAR */
/* ------------------------------------------------------*/
.sidebar{
    background-color: var(--g7);
    grid-column: 1;
    grid-row: 1;
}
.sidebar ul{
    list-style: none;
    padding: 30px;
}

.sidebar ul li a{
    display: flex;
    align-items: center;
    gap: 30px;
    fill: white;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.sidebar ul li a:hover{
    fill: var(--o1);
    color: var(--o1);
}

#logo-title{
    font-size: 2rem;
}

/* ------------------------------------------------------*/
/* MAIN CONTENT */
/* ------------------------------------------------------*/

.main{
    background-color: var(--g4);
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 25px;
}

.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:25px;
}

.projects{
    margin: 0 0 var(--spacing) var(--spacing);
}

.projects>p{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.right-content{
    margin: 0 var(--spacing) var(--spacing) 0;
}

#announcements{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.cards{
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing);
    height: 60%;
}

.single-card{
    background-color: var(--g2);
    border-radius: 20px;
    padding: var(--spacing);
    transition: transform 200ms;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px var(--g10);
    border-left: 8px solid var(--o1);
    display: grid;
    flex-direction: column;
}

.single-card:hover{
    transform: translateY(-5px);
}

.single-card p{
    margin: 0;
}

.project-title{
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    align-self: flex-end;
    padding-bottom: 5px;
}

.project-description{
    opacity: 0.8;
    font-size: 1.1rem;
}

.card-icons{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 20px;
}

.card-icons img{
    height: 30px;
    cursor: pointer;
}

.card-icons img:hover{
    opacity: 0.5;
}

.announcement-cards{
    background-color: var(--g2);
    padding: var(--spacing);
    border-radius: 20px;
    gap: 20px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px var(--g10);
}

.a-title{
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    
}

.a-content{
    font-size: 1rem;
}

.solid{
    border: 0.5px solid black;
    opacity: 0.5;
}

.trend-img{
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.trending-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.trending-profile p {
    margin: 0;
}

.trending-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--g2);
    padding: var(--spacing);
    border-radius: 20px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px var(--g10);
}

.user-title{
    opacity: 0.5;
    font-size: 1rem;
}

.trend-user:hover{
    color: var(--g9);
}

#trending{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.tu-profile{
    cursor: pointer;
}